<div class="card-container" style="justify-content: left">
  <div class="col1" style="padding-right: 10px; width: 70%">
    <input matInput type="text" title="busca" #busca style="width: 100%">
  </div>
  <div class="col2">
    <button mat-icon-button color="primary" (click)="search(busca.value)">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="content" style="width: 100%;">
    <div>
      <h3>Coarse: {{question.coarse_class}}</h3>
      <h3>Fine: {{question.fine_class}}</h3>
    </div>
  </div>
</div>
